<!doctype html>

<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen" title="no title" charset="utf-8">
</head>
<body>

    <h1>{{restaurant.name}}</h1>

    <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Create New Menu Item</a>
    {% for i in items %}
    <div>
        <ul>
            <li>{{i.name}}</li>
            <li>{{i.description}}</li>
            <li>{{i.price}}</li>
            <li>
                <a href="{{url_for('editMenuItem',restaurant_id=restaurant.id, menu_id=i.id)}}">Edit</a>
            </li>
            <li>
                <a href="{{url_for('deleteMenuItem',restaurant_id=restaurant.id,menu_id=i.id)}}">Delete</a>
            </li>
        </ul>
    </div>
    {% endfor %}
</bod>

</html>
